<h2>Lista categorias: </h2>
<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data de criação: {{createdAt}}</small><br>
            <small>Ultima atualização: {{updatedAt}}</small><br>
            <a href="/admin/categorias/edit/{{_id}}"><button class="btn btn-success mt-2 mb-2">Editar Categoria</button></a>
            <form style="display: inline;" action="/admin/categorias/deletar" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger">Deletar Categoria</button>
            </form>
        </div>
    </div>
{{else}}
    <h4 class="mt-4">Nenhuma categoria registrada!</h4>
{{/each}}
